:root {
  --primary-color: #6c63ff;
  --secondary-color: white;
  --tertiary-color: rgb(232, 212, 236);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin-top: 100px;
}

h1,
h2,
h3 {
  margin: 0;
  align-items: center;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}
img {
  padding: 12px;
}
p {
  padding: 0px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  margin-bottom: 16px;
}
.greetings {
  text-align: center;
  display: block;
  margin: auto;
  max-width: 800px;
}
.navi-links a {
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  border-radius: 5%;
  border: 1px solid var(--primary-color);
}
.navi-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
}
.primary-link {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  box-shadow: var(--box-shadow);
  text-decoration: none;
}
.primary-link:hover {
  color: #0a58ca;
}
.secondary-link {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.story {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}
.project-titles {
  margin-bottom: 16px;
}

.about-paragraph {
  margin: 30px 10px;
  text-align: center;
}
